@import "tailwindcss";

html,
body,
#app {
  height: 100%;
}

body {
  @apply m-0 bg-neutral-900 text-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-md-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.w-md-editor-content {
  flex: 1;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
